* {
    /* border: 1px dashed red; */
    --background-color: black;
    --primary-color: white;
    --highlight-color: #FF00FF;
    --link-color : lightblue;
    margin : 0;
    padding: 0;
} 

nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media (max-width : 600px) {
    nav ul {
        justify-content: space-around;
    }
}

nav {
    width: 100vw;
    font-family: 'Andale Mono','Courier New', Courier, monospace;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

@media (max-width: 650px) {
    nav {
        justify-content: space-around;
    }
}

nav li a {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding: 0.2rem 0.3rem;
    margin : 0.3rem 0.2rem;
    text-align: center;
    text-decoration: none;
}

nav div svg {
    color: var(--primary-color);
}


nav li a:hover svg {
    animation: turn45 0.3s 1 forwards;
}

nav li a:hover {
    border-bottom: 2px solid var(--highlight-color);
}

@keyframes turn45 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes blink {
    0%{
        color: transparent;
    }
    50%{
        color: var(--primary-color);
    }
    100%{
        color: transparent;
    }
}

#socials {
    display: flex;
    justify-content: flex-start;
    padding: 6px 16px;
}

#socials * {
    width: min(5vw, 30px);
}

.imageLink {
    text-decoration: none;
    color: transparent;
}

body {
    background: var(--background-color);
    color: var(--primary-color);
}
main {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

main a {
    color: var(--link-color);
}

h1 {
    display: inline;
}

#resumeButton {
    float: right;
    display: inline-flex;
    align-items: center;
    padding : 0.2rem 0.4rem; 
    gap: 5px;
    background-color: rgba(255,0,255, 0.7);
    color: var(--primary-color);
    border-radius: 2px;
}
#resumeButton svg {
    height : 1rem;
    fill: var(--primary-color);
}

#aboutParagraph p {
    padding: 20px 0px;
}

#aboutParagraph {
    width: 50vw;
}

#skills {
    width : 30vw;
}

#contact {
    width: 100vw;
}