* {
    /* border: 1px dashed red; */
    font-family: 'Andale Mono','Courier New', Courier, monospace;
    --background-color: black;
    --primary-color: white;
    --highlight-color: white;
    --link-color : lightblue;
    margin : 0;
    padding: 0;
} 

nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media (max-width : 600px) {
    nav ul {
        justify-content: space-around;
    }
}

nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

@media (max-width: 650px) {
    nav {
        justify-content: space-around;
    }
}

nav li a {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding: 0.2rem 0.3rem;
    margin : 0.3rem 0.2rem;
    text-align: center;
    text-decoration: none;
}

nav div svg {
    color: var(--primary-color);
}


nav li a:hover svg {
    animation: turn45 0.3s 1 forwards;
}

nav li a:hover {
    border-bottom: 2px solid var(--highlight-color);
}

@keyframes turn45 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes blink {
    0%{
        color: transparent;
    }
    50%{
        color: var(--primary-color);
    }
    100%{
        color: transparent;
    }
}


#cursor {
    font-style: normal;
    animation: blink 1s steps(1) infinite;
}


body {
    background-color: var(--background-color);
}


img{
    height : max(30vh, 40vw);
    max-height : 60vh
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

#intro {
    display: flex; 
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
}

#socials svg {
    color: var(--primary-color);
}

#eNt14p7EUrW1 { /* id for circuit svg */
    color: var(--primary-color);
    fill: var(--primary-color);
    height : max(30vh, 40vw);
    max-height : 60vh;
}

#hiText {
    font-family: 'Courier New', Courier, monospace;
    font-weight : 100;
    font-size : 0.8rem;
    text-align: center;
    color: var(--primary-color);
}
#name {
    display: flex;
    /* height: 4rem;  */
    padding: 5px;
    margin: auto;
    font-size : 4vh;
    font-weight: normal;
    flex-wrap: wrap;
    justify-content: center;
    font-style: normal;
}
#socials {
    display: flex;
    justify-content: flex-start;
    padding: 6px 16px;
}

#socials * {
    width: min(5vw, 30px);
}
.imageLink {
    text-decoration: none;
    color: transparent;
}

footer {
    color: var(--primary-color);
    bottom : 0;
    width: 100%;
    position: absolute;
}

footer a{
    color : var(--link-color);
}